body  {
    background-color: black;
    height:700px;
}

img src {
  width: 400;
  height: 350;
  position: relative;
  top: 15px;
  left: 300px;
}
    
div {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Google */
    column-count: 2;
}
